.App {
  font-family: sans-serif;
  text-align: center;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 5%;
}

.articleOne {
  display: flex;
  border: black solid 3px;
  padding: 3%
}
.info {
  padding-left: 3%;
}

.articleTwo {
  display: flex;
  border: black solid 3px;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 230, 240);
  font-family: monospace;
  padding: 10%;
  padding-top: 5%;
}

h1 {
  font-size: 40px;
}

